:root {
    --background-color: #ffffff;
    --nav-color : #000000;
    --nav-link-color : #ffffff;
    --card-title-color : #1b1f8d;
    --card-title-text-color : #fff;
    --flash-text-background-color : #c82cce;
    --flash-text-color : #fff;
    --button-text-color : #fff;
    --button-background-color : #3d239f;
    --button-hover-color : #6046bb;
    --footer-bg-color : #0b0b0b;
    --footer-fg-color : #f7f1d4;
    --footer-link-color : #5b42f9;  
    /* --panel-action-background-color : #25213c; */
    --panel-action-background-color : #000;
    --preformatted-text-background-color : #e0e0e0;
    /* links  */
    --cta-link-dark : #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: var(--background-color);
}

img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--nav-color);
    height: 60px;
    color: var(--nav-link-color);
}

.nav p {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}

#profile-page .nav p {
    font-size: 1rem;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav ul li {
    padding: 2px 4px;
}

.nav a:active,
.nav a:visited,
.nav a {
    text-decoration: none;
    color: var(--nav-link-color);   
}

header {
    /* min-height: 100vh; */
}

header.project-page {
    height: 100%;
}

header.project-page .page-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header.project-page .page-nav .banner {
    /* width: 50%; */
    width: 100%;
    height: 100%;
    background-image: url('./assets/hero-image.jpg');
    background-size: cover;
    background-position: center;
}


header.project-page .page-nav .nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-color);
}

header.project-page .page-nav .nav  ul {
    padding-left: 10px;
}

header .hero-section {
    width: 1280px;
    margin: auto;
}

header .banner {
    /* width: 1280px;
    height: 400px; */
    width: 1280px;
    height: 300px;
}

header .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
    color: var(--flash-text-color);
    background-color: var(--flash-text-background-color);
    padding: 6px;
    width: 100%;
}

/* LINKS  */

a.cta-link {
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: var(--cta-link-dark);
}


/* BUTTONS  */

button.btn,
a.btn {
    border-radius: 6px;
    text-decoration: none;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    display: flex;
    justify-content: center;
    padding: 6px;
    max-width: 200px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.685);
    margin: 10px 0;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    transition: box-shadow .5s ease-in-out, background-color .5s ease-in-out;
}

button.btn:hover,
a.btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.685);
    background-color: var(--button-hover-color);
    transition: box-shadow .5s ease-in-out, background-color .5s ease-in-out;
}

/* LAYOUT COMPONENTS  */

main .panel {
    margin: 10px auto;
    padding: 10px;
}


.card {
    margin: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    /* This cuts the top-left corner */
    /* clip-path: polygon(
        30px 0,     
        100% 0,
        100% 100%,
        0 100%,
        0 30px     
    ); */


    /* filter: box-shadow(0 4px 12px rgba(0, 0, 0, 0.15)); */
}

.card .title {
    background-color: var(--card-title-color);
    color: var(--card-title-text-color);
    clip-path: polygon(
        0 0,
        calc(100% - 30px) 0,  /* stop before cut */
        100% 30px,            /* diagonal cut */
        100% 100%,
        0 100%
    );
}

.card .body {
    padding: 10px;
}

.card .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* MAIN PAGE STYLES  */

.panel {
    max-width: 1260px;
    margin: 10px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.panel a ,
.panel a:visited,
.panel a:active
{
    text-decoration: none;

}

.panel.vert {
    padding: 10px;
    width: 96%;
}

.panel h3,
.panel p {
    margin: 10px 0;
}

.panel li {
    margin-left: 40px;
}

.panel-70-30,
.panel-40-60,
.panel-30-70 {
    display: flex;
    flex-direction: row;
    width: 96%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    
}

.panel.action-panel {
    background: var(--panel-action-background-color);
    border-radius: 10px;
}


.panel-30-70 .left {
    width: 30%;
}

.panel-30-70 .right {
    width: 70%;
}

.panel-40-60 .left {
    width: 40%;
}

.panel-40-60 .right {
    width: 60%;
}

.panel-70-30 .left {
    width: 70%;
}

.panel-70-30 .right {
    width: 30%;
}

.panel .panel-image {
    max-width: 400px;
    margin: auto;
}



.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.preformatted-text {
    width: 100%;
    overflow-x: scroll ;
    text-align: left;
    background-color: var(--preformatted-text-background-color);
    border-radius: 10px;
    padding: 10px;
}

.preformatted-text code {
    overflow-x: scroll;
}

/* FOOTER STYLES  */

footer {
    color: var(--footer-fg-color);
    background-color: var(--footer-bg-color);
    padding: 20px;
}

footer .row {
    display: flex;
    flex-direction: row;
}

footer .row .col {
    display: flex;
    flex-direction: column;
}

footer .row .col.col-3 {
    width: 33%;
}

footer .row .col.col-1 {
    width: 100%;
}

footer a:visited,
footer a:active,
footer a {
    text-decoration: none;
    color: var(--footer-link-color);
}

footer img {
    width: 60px;
    height: 60px;
    padding: 10px;
}



footer .centered {
    text-align: center;
    width: 100%;
}